.c-row-carousel {
    position: relative;
}

.c-col-carousel {
}

.c-col-carousel-slider:before {
    top: 100px;
    font-size: 38px;
    line-height: 100%;
    font-family: "fa-icon";
    color: rgb(255, 255, 255);
    position: absolute;
    text-shadow: 0 1px 2px rgba(125, 65, 25, 0.9);
    display: block;

}

.c-col-carousel-slider-left:before {
    content: '\f104';
    padding-left: 15px;
}

.c-col-carousel-slider-right:before {
    content: '\f105';
    padding-left: 21px;
}

.c-col-carousel-box {
    width: 280px;
    height: 190px;
    margin: 42px 0;
    background-color: rgb(235, 235, 209);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.74);
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.c-col-carousel-box-h1 {
    font-family: MyriadPro-Regular, Arial, sans-serif;
    font-size: 36px;
    line-height: 1.2;
    color: #FFFFFF;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    width: 280px;
    height: 50px;
}

.c-col-carousel-box-h2 {
    font-family: Mosaicleaf;
    font-size: 159px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    padding-top: 62px;
}

.c-col-carousel-box-left {
    margin-left: 50px;
}

.c-col-carousel-box-left-h1 {
    background-color: #1b4801;
}

.c-col-carousel-box-left-h2 {
    color: #000000;
}

.c-col-carousel-box-center {
    margin-right: 42px;
    margin-left: 42px;
}

.c-col-carousel-box-center-h1 {
    background-color: #008c00;
}

.c-col-carousel-box-center-h2 {
    color: #43a312;
}

/*.c-col-carousel-box-right {*/
/*margin-right:50px;*/
/*margin-left:21px;*/
/*}*/

.c-col-carousel-box-right-h1 {
    background-color: #6d0019;
}

.c-col-carousel-box-right-h2 {
    color: #30000b;
}