.c-col-content {
    margin: 0 0 0 50px;
}

.c-col-content-box {
    width: 602px;
    min-height: 190px;

    background-color: #ebebd1;
    margin-bottom: 41px;
    position: relative;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.74);
    border-radius: 10px;
    padding-bottom: 15px;

}

.c-col-content-box-header {
    height: 38px;
    padding-top: 15px;
    font-size: 25px;
    font-family: "Arial";
    color: rgb(0, 0, 0);
    line-height: 1.2;

}

.c-col-content-box-header-left {
    left:15px;
    position: absolute;
}

.c-col-content-box-header-right {
    right:15px;
    position: absolute;
}

.c-col-content-box-text {
    max-height: 205px;
    font-size: 12px;
    font-family: "Arial";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    width: 600px;
    padding: 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

