.c-row-footer {
}

.c-col-footer {
    height:36px;
    width: 924px;
    border-radius: 10px;
    margin-left: 50px;

    background-color: rgb(0, 0, 0);

}

.c-col-footer-text{
    font-size: 12px;
    font-family: "Hero";
    color: rgb(235, 235, 209);
    line-height: 1.2;
    text-align: right;
    padding: 13px;
}