.c-row-logo {

}

.c-col-logo-box {
    min-height: 150px;

    border-bottom-left-radius: 104px 82px;
    border-bottom-right-radius: 104px 82px;

    background: -moz-linear-gradient(0deg, blue, black);
    background: -webkit-linear-gradient(0deg, blue, black);
    background: -ms-linear-gradient(0deg, blue, black);
    background: -o-linear-gradient(0deg, blue, black);
    background: linear-gradient(0deg, blue, black);

    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
    -o-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
}

.Rectangle_1 {
    background-image: -moz-linear-gradient( 90deg, rgb(11,79,169) 0%, rgb(0,0,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(11,79,169) 0%, rgb(0,0,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(11,79,169) 0%, rgb(0,0,0) 100%);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 330px;
    top: 39px;
    width: 364px;
    height: 251px;
    z-index: 8;
}


.c-col-logo-text {
    color: #FFFFFF;
    font-family: Arial, sans-serif;

    text-align: center;
}

.c-col-logo-box-h1 {
    font-size: 72px;
    line-height: 75%;
    padding: 82px 0 0 0;
}

.c-col-logo-box-h2 {
    font-size: 18px;
    line-height: 75%;
    padding: 40px 0 60px 0;
}