.c-row-nav {
    line-height: 75%;
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    font-size: 14px;
    min-height: 40px;
    font-family: Arial, sans-serif;
}

.c-nav-caption-left {
    display: inline-block;
    text-align: left;
    padding: 15px 66px;
}

.c-list-inline {
    display: inline;
    margin: 0;
    padding: 0;
    text-align: center;
}

.c-list-inline li {
    display: inline-block;
    box-sizing: border-box;
    list-style-type: none;
}

.c-list-inline a {
    padding: 15px;
    display: inline-block;
    color: inherit;
    background-color: inherit;
    text-decoration: none;

}

.c-list-inline a:hover {
    background-color: #adadad;
}
