.c-col-sidebar {
    height: 518px;
    width: 280px;

    margin-right:50px;
    margin-left:42px;

    background-color: rgb(235, 235, 209);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.74);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.c-col-sidebar-header {
    height: 50px;
    width: 280px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-color: #000000;

    font-size: 25px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
}

.c-col-sidebar-text {
    font-size: 12px;
    font-family: "Arial";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    width: 600px;
    padding: 15px;
}