@font-face {
    font-family: 'Hero';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Hero.otf');
}

@font-face {
    font-family: 'Mosaicleaf';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Mosaicleaf086.otf');
}

@font-face {
    font-family: 'PTSans-normal';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/PTSans-normal.ttf') format('ttf');
}

@font-face {
    font-family: 'MyriadPro-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/MyriadPro-Regular.otf');
}

@font-face {
    font-family: 'fa-icon';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/fa.ttf');
}

body {

    font-family: Arial, sans-serif;

}

a.c-anchor-offset {
    display: block;
    position: relative;
    /*top: -250px;*/
    visibility: hidden;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

@media (min-width: 1200px) {
    .container {
        width: 1024px;
    }
}

.c-background-main {
    background-color: #fda434;
    position: relative;
    width: 1008px;
    height: 1202px;
    /*todo: remove height*/
    margin: 0 auto;

}

.c-row-flexbox-margin{
    padding: 0 .5rem;
    /*fix flexbox -.5rem*/
    /*todo: remove fix*/
}